body {
  margin: 0;
}
.container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;
  /* margin: 1em; */
}
.square {
  border: 1px solid rgb(255,0,0);
  box-sizing: border-box;
  flex-basis: 50%;

}